body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

em {
  background: cyan;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, #8e43e7, #00aeff);
  color: #fff;
  margin-bottom: 1rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-title::after {
  content: " ▸ ";
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__filters .ais-Panel {
  position: sticky;
  top: 16px;
}

.search-panel__results {
  flex: 3;
}

.searchbox {
  margin-bottom: 2rem;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}

.ais-InfiniteHits-item {
  cursor: pointer;
}

.ais-InfiniteHits-item__hit a {
  text-decoration: none;
  display: flex;
  gap: 1.5rem;
}

.ais-InfiniteHits-item__hit a .img-container {
  width: 300px;
  display: block;
}
.ais-InfiniteHits-item__hit a .img-container img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.ais-InfiniteHits-item__hit a h1 {
  color: #000;
  text-decoration: none;
  line-height: 1.2;
  cursor: pointer;
}
.ais-InfiniteHits-item__hit a p {
  color: #000;
  text-decoration: none;
  line-height: 1.2;
  cursor: pointer;
}

.ais-InfiniteHits-item:hover {
  box-shadow: inset 0 0 0 1px blue;
}
.ais-InfiniteHits-item.clicked {
  box-shadow: inset 0 0 0 2px blue;
}

.product-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.back-button {
  display: flex;
  align-items: center;
  appearance: none;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  margin-right: 2rem;
  cursor: pointer;
}

.back-button:hover {
  background: #fff;
  color: #000;
}
